<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="UTF-8">
    <title>Lista de Alumnos</title>
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@5.2.3/dist/css/bootstrap.min.css">
</head>
<body class="bg-light">

<div class="container mt-5">

    <!-- HEADER -->
    <div class="d-flex justify-content-between align-items-center mb-4">
        <a href="{% url 'menu_admin' %}" class="btn btn-outline-primary">
            ← Volver
        </a>

        {% if messages %}
            {% for message in messages %}
                <div class="alert alert-success alert-dismissible fade show" role="alert">
                    {{ message }}
                    <button type="button" class="btn-close" data-bs-dismiss="alert"></button>
                </div>
            {% endfor %}
        {% endif %}

        <h3 class="mb-0 fw-bold">Lista de Alumnos</h3>

        <span class="badge bg-dark fs-6">
            Total: {{ total }}
        </span>
    </div>

    <!-- FILTROS -->
    <div class="card shadow-sm p-4 mb-4">
        <form method="GET" class="row g-3">

            <div class="col-md-4">
                <input type="text" name="search" value="{{ nombre|default:'' }}"
                       class="form-control"
                       placeholder="🔍 Buscar por nombre, Documento de identidad, correo...">
            </div>

            <div class="col-md-2">
                <select name="sexo" class="form-select">
                    <option value="">Sexo</option>
                    <option value="M" {% if sexo == "M" %}selected{% endif %}>Masculino</option>
                    <option value="F" {% if sexo == "F" %}selected{% endif %}>Femenino</option>
                </select>
            </div>

            <div class="col-md-2">
                <input type="text" name="distrito" value="{{ nombre|default:'' }}"
                       class="form-control"
                       placeholder="Distrito">
            </div>

            <div class="col-md-2">
                <select name="uso_imagen" class="form-select">
                    <option value="">Uso Imagen</option>
                    <option value="si" {% if uso_imagen == "si" %}selected{% endif %}>Sí</option>
                    <option value="no" {% if uso_imagen == "no" %}selected{% endif %}>No</option>
                </select>
            </div>

            <div class="col-md-2 d-grid">
                <button class="btn btn-dark">Filtrar</button>
            </div>

        </form>
    </div>

    <!-- TABLA -->
    <div class="card shadow p-4">
        <div class="table-responsive">
            <table class="table table-hover align-middle">
                <thead class="table-dark text-center">
                    <tr>
                        <th>Nombre</th>
                        <th>Documento</th>
                        <th>Correo</th>
                        <th>Teléfono</th>
                        <th>Distrito</th>
                        <th>Departamento</th>
                        <th>Pais</th>
                        <th>Edad</th>
                        <th>Sexo</th>
                        <th>Grado academico</th>
                        <th>Carrera</th>
                        <th>Trabajo</th>
                        <th>Referencia</th>
                        <th>Uso Imagen</th>
                        <th>Acciones</th>
                    </tr>
                </thead>
                <tbody>
                    {% for alumno in page_obj %}
                    <tr>
                        <td class="fw-semibold">{{ alumno.nombre }}</td>
                        <td>{{ alumno.documento_identidad|default:"-" }}</td>
                        <td>{{ alumno.correo }}</td>
                        <td>{{ alumno.telefono }}</td>
                        <td>{{ alumno.distrito|default:"-" }}</td>
                        <td>{{ alumno.departamento }}</td>
                        <td>{{ alumno.pais }}</td>
                        <td>{{ alumno.edad }}</td>
                        <td>{{ alumno.sexo }}</td>                   
                        <td>{{ alumno.grado_academico }}</td>
                        <td>{{ alumno.carrera }}</td>
                        <td>{{ alumno.trabajo }}</td>
                        <td>{{ alumno.referencia }}</td>

                        <td class="text-center">
                            {% if alumno.uso_imagen %}
                                <span class="badge bg-success">Sí</span>
                            {% else %}
                                <span class="badge bg-danger">No</span>
                            {% endif %}
                        </td>

                        <td class="text-center">
                            <a href="{% url 'editar_alumno' alumno.id %}"
                               class="btn btn-warning btn-sm">Editar</a>

                            <a href="{% url 'eliminar_alumno' alumno.id %}"
                               class="btn btn-danger btn-sm"
                               onclick="return confirm('¿Eliminar alumno?')">
                                Eliminar
                            </a>
                        </td>
                    </tr>
                    {% empty %}
                    <tr>
                        <td colspan="7" class="text-center">
                            No hay resultados
                        </td>
                    </tr>
                    {% endfor %}
                </tbody>
            </table>
        </div>


        <!-- PAGINACIÓN -->
        <nav>
            <ul class="pagination justify-content-center">

                {% if page_obj.has_previous %}
                    <li class="page-item">
                        <a class="page-link" href="?page=1">Primera</a>
                    </li>
                    <li class="page-item">
                        <a class="page-link" href="?page={{ page_obj.previous_page_number }}">
                            Anterior
                        </a>
                    </li>
                {% endif %}

                <li class="page-item active">
                    <span class="page-link">
                        Página {{ page_obj.number }} de {{ page_obj.paginator.num_pages }}
                    </span>
                </li>

                {% if page_obj.has_next %}
                    <li class="page-item">
                        <a class="page-link" href="?page={{ page_obj.next_page_number }}">
                            Siguiente
                        </a>
                    </li>
                    <li class="page-item">
                        <a class="page-link" href="?page={{ page_obj.paginator.num_pages }}">
                            Última
                        </a>
                    </li>
                {% endif %}

            </ul>
        </nav>

    </div>

</div>

</body>
</html>
